In [9]:
#import libraries
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

#import data
matches = pd.read_csv('test_player.csv')

#EDA
matches.describe()

             match_id      account_id         hero_id     player_slot
count  1000000.000000  1000000.000000  1000000.000000  1000000.000000
mean     99999.500000    91028.072414       50.960134       66.000000
std      28867.527892   103566.804928       33.229504       64.015655
min      50000.000000        0.000000        0.000000        0.000000
25%      74999.750000        0.000000       21.000000        2.000000
50%      99999.500000    39462.500000       48.000000       66.000000
75%     124999.250000   177762.000000       75.000000      130.000000
max     149999.000000   330514.000000      112.000000      132.000000

In [10]:
#remove account_id column
matches = matches.drop(columns="account_id")

In [13]:
#understanding player slot
matches.head(n=10)

   match_id  hero_id  player_slot
0     50000       96            0
1     50000       84            1
2     50000       46            2
3     50000       85            3
4     50000       39            4
5     50000        9          128
6     50000       75          129
7     50000      106          130
8     50000       74          131
9     50000       62          132

In [18]:
#collapse data into columns
competitor_rows = pd.pivot_table(matches, values='hero_id', index=['match_id'], columns='player_slot')
competitor_rows.head(n=10)

player_slot  0    1    2    3    4    128  129  130  131  132
match_id
50000         96   84   46   85   39    9   75  106   74   62
50001         44   10   57    2  106   58   61   21   18   14
50002         74    7   42   99   88   69    8   25   26   79
50003         44   15  110   56   94    2  101   32    7   72
50004         98   26   73   51   46    2  106   50   65   21
50005         16   39   36   71   46   27  106   33   21   93
50006        104   44   21   62   73   86   19   74   76   67
50007         68   23    2   76   39   65   73   21    9   30
50008        112   11   39  104  101   55   19   16   79   63
50009          8    5   42    3   92    9   31   12   74   21

In [20]:
dataset = []
with competitor_rows as f:

player_slot,0,1,2,3,4,128,129,130,131,132
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000
mean,50.626700,50.899150,50.933980,50.966500,50.935160,50.781270,50.99732,51.154560,51.107220,51.199480
std,33.208141,33.276011,33.211139,33.325831,33.220092,33.228971,33.16702,33.197071,33.245185,33.212802
min,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
25%,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.00000,21.000000,21.000000,21.000000
50%,47.000000,48.000000,48.000000,48.000000,49.000000,47.000000,48.00000,49.000000,49.000000,49.000000
75%,75.000000,75.000000,75.000000,75.000000,75.000000,75.000000,75.00000,75.000000,75.000000,75.000000
max,112.000000,112.000000,112.000000,112.000000,112.000000,112.000000,112.00000,112.000000,112.000000,112.000000

In [ ]:
for row in dataset:
    print(row)