In [73]:
#import libraries
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules
import numpy as np
# import required libraries
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import matplotlib
from mpl_toolkits.mplot3d import Axes3D

#import data
matches = pd.read_csv('./dota-2-matches/test_player.csv')
champions = pd.read_csv('./dota-2-matches/hero_names.csv')

#EDA
matches.describe()

             match_id      account_id         hero_id     player_slot
count  1000000.000000  1000000.000000  1000000.000000  1000000.000000
mean     99999.500000    91028.072414       50.960134       66.000000
std      28867.527892   103566.804928       33.229504       64.015655
min      50000.000000        0.000000        0.000000        0.000000
25%      74999.750000        0.000000       21.000000        2.000000
50%      99999.500000    39462.500000       48.000000       66.000000
75%     124999.250000   177762.000000       75.000000      130.000000
max     149999.000000   330514.000000      112.000000      132.000000

In [4]:
#remove account_id column
matches = matches.drop("account_id",axis=1)

In [110]:
matches.describe()
#Determine your file name
heroes = pd.read_csv('./dota-2-matches/hero_names.csv')

#Returns a map of heroId to name
def mapId2Name():
    mapheroes = {}
    for row in heroes.itertuples():
        mapheroes[row.hero_id] = row.localized_name
    return mapheroes

#Returns a map of name to Id
def mapName2Id():
    mapId = {}
    for row in heroes.itertuples():
        mapheroes[row.hero_id] = row.localized_name
    return mapId


def searchHeroName(heroId):
    mapToReturn = mapId2Name()
    return mapToReturn[heroId]


def searchHeroId(heroName):
    mapToReturn = mapName2Id()
    return mapToReturn[heroName]

In [6]:
#understanding player slot
matches.head(n=20)

    match_id  hero_id  player_slot
0      50000       96            0
1      50000       84            1
2      50000       46            2
3      50000       85            3
4      50000       39            4
5      50000        9          128
6      50000       75          129
7      50000      106          130
8      50000       74          131
9      50000       62          132
10     50001       44            0
11     50001       10            1
12     50001       57            2
13     50001        2            3
14     50001      106            4
15     50001       58          128
16     50001       61          129
17     50001       21          130
18     50001       18          131
19     50001       14          132

In [63]:
#collapse data into columns
competitor_rows = pd.pivot_table(matches, values='hero_id', index=['match_id'], columns='player_slot')
competitor_rows.head(n=10)

player_slot  0    1    2    3    4    128  129  130  131  132
match_id
50000         96   84   46   85   39    9   75  106   74   62
50001         44   10   57    2  106   58   61   21   18   14
50002         74    7   42   99   88   69    8   25   26   79
50003         44   15  110   56   94    2  101   32    7   72
50004         98   26   73   51   46    2  106   50   65   21
50005         16   39   36   71   46   27  106   33   21   93
50006        104   44   21   62   73   86   19   74   76   67
50007         68   23    2   76   39   65   73   21    9   30
50008        112   11   39  104  101   55   19   16   79   63
50009          8    5   42    3   92    9   31   12   74   21

In [70]:
# df = df.sort_index() 
# competitor_rows.shape[0]
section = competitor_rows
sectionA,sectionB  = np.split(section, 2, axis=1)
sectionB.columns = sectionA.columns
sectionA.append(sectionB,ignore_index = True)

# sectionB

player_slot    0    1    2    3    4
0             96   84   46   85   39
1             44   10   57    2  106
2             74    7   42   99   88
3             44   15  110   56   94
4             98   26   73   51   46
5             16   39   36   71   46
6            104   44   21   62   73
7             68   23    2   76   39
8            112   11   39  104  101
9              8    5   42    3   92
10            68   16   67   34   99
11            26   28   11  112    8
12            34   32   31   99   70
13            83   30  106   10   11
14            28   72   43   62   25
15           104   98  100   59   99
16             6   14   46   20   72
17           101   28  100   25   44
18             8   30    7  104  106
19            37   87    7   47   44
20            53   21   59    5   37
21            94   75   50   59   14
22             2  102   10   31  106
23           102   23   67  107   35
24             3   41    2   73   30
25           104   35    5   93   14
26            28   72   91   70   19
27            26   86   41   51   23
28            30   51  104   59   76
29             8    2   74  107    9
...          ...  ...  ...  ...  ...
199970        47   90   12   73    5
199971        99   62   44   14   21
199972        42   25    7   27   98
199973        99   95   14   36   27
199974        70   25    6   73  100
199975        44   71   25   21   30
199976        50   11   86  102   18
199977        14   28   73   68   50
199978        69   46    8   55  112
199979        74   67   46   93    7
199980        48   21   41   14    7
199981        47   43   90   76   55
199982        73   19   21   27   14
199983        33   39   86   93   72
199984        11   37    8   30   23
199985        18   79   26   21   44
199986        90   39    8   86   18
199987        58  104   61   32   86
199988        86   42  112   44   39
199989         9   73   93   45   20
199990        69   12   21   86   17
199991        91   94   31   82   49
199992        59    3   11   21    9
199993        46   35   96  100   60
199994        21   86  112    8   69
199995        50    1   43   59  104
199996       106   40   32   18  100
199997         1   11   98   26    5
199998        39   97   93   11   22
199999        74    8   50   55   62

[200000 rows x 5 columns]

In [71]:
dataset=[]

for row in sectionA.iterrows():
    index, data = row
    dataset.append(data.tolist())
#it transforms the input dataset (a Python list of lists) into a one-hot encoded NumPy boolean array
oht = TransactionEncoder()
oht_ary = oht.fit(dataset).transform(dataset)
df = pd.DataFrame(oht_ary, columns=oht.columns_)
df.head(n=10)

,0,1,2,3,4,5,6,7,8,9,...,102,103,104,105,106,107,109,110,111,112
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
2,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
7,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,True
9,False,False,False,True,False,True,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False

In [86]:
df = df*1
df.head()

,0,1,2,3,4,5,6,7,8,9,...,102,103,104,105,106,107,109,110,111,112
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [88]:
# create kmeans object and call fit
KM = KMeans(n_clusters=6, init='k-means++', random_state=170)
KM = KM.fit(df)
print("The cluster centroids are: \n", KM.cluster_centers_)
print("Cluster_label:\n", KM.labels_)
print("Sum of distances of samples to their closest cluster center: \n", KM.inertia_)

#research how kmeans library interprets a binary datasets
#look into the above functions (ex. lablels_)
#find more useful functions

#take 5 highest value in each cluster, find the associated hero, look for a pattern there, correspond for the most frequently used team. and look at the next highest values and see if they compose a similar teams

The cluster centroids are:
 [[  2.76824272e-05   1.03310818e-01   7.32200199e-02   3.37171963e-02
    3.36341490e-02   8.18846196e-02   3.16686967e-02   1.27754402e-01
    1.25595172e-01   7.83966338e-02   1.88794153e-02   4.45199433e-14
    4.97730041e-02   2.33639686e-02   1.14854390e-01   2.55508803e-02
    3.28036762e-02   3.90322223e-02   4.05824383e-02   8.05558631e-02
    4.49839442e-02   1.25621735e-13   6.07906101e-02   3.31081829e-02
    1.05193223e-01   7.17805337e-02   3.99180600e-02  -5.64270852e-14
    3.08105415e-02   7.59605802e-02   4.75584099e-02   4.86657070e-02
    2.48034548e-02   3.87277156e-02   5.13509024e-02   7.02856826e-02
    2.12877865e-02   1.57789835e-02   1.56737903e-01   3.16410143e-02
    3.50459528e-02   8.17738899e-02   2.37515225e-02   8.29919167e-02
    1.94330639e-02   9.99889270e-02   5.61676448e-02   2.82083933e-02
    2.71287787e-02   1.03643007e-01   5.02436054e-02   1.50038755e-02
    3.50459528e-02   2.84575352e-02   4.72539032e-02   2.69350017e-02
    5.36762263e-02   1.14605249e-02   6.04584210e-02   4.00564722e-02
    1.66925036e-02   7.45764589e-02   3.19732034e-02   2.74886502e-02
    1.10452885e-02   6.20086369e-03   6.94552098e-02   7.73723840e-02
    8.65906323e-02   4.50116266e-02   8.00852619e-02   7.75107961e-02
    1.50537039e-01  -8.10740364e-14   7.98914849e-02   2.26995903e-02
    1.22633152e-02   1.19864910e-02   1.48931458e-02   1.26508692e-02
    2.58553870e-02   2.28933673e-02   1.91562396e-02   4.32676337e-02
    6.48045621e-02   7.90610121e-02   4.83612003e-02   2.85129000e-02
    1.09622412e-02   2.22843539e-02   2.01251246e-02   1.01871332e-02
    9.75251910e-02   2.66858598e-02   2.15646108e-02   2.09002325e-02
    4.98283690e-02   4.15790056e-02   5.18491861e-02  -3.11278781e-14
    3.08382239e-02   3.90322223e-02   9.02447127e-03   9.90754069e-02
    1.39796257e-02  -5.70932190e-14   2.85129000e-02   1.49761931e-02
    3.38279260e-02   1.06023696e-02   9.50891374e-02]
 [  5.13109959e-05   8.98968649e-02   5.58776746e-02   3.03247986e-02
    2.17045513e-02   6.07009082e-02   2.69382729e-02   1.14064344e-01
    1.06624250e-01   5.89563343e-02   1.21607060e-02   1.04982298e-01
    3.79701370e-02   9.03073529e-03   7.25024373e-02   1.31356150e-02
    2.76566268e-02   1.54446098e-02   2.86828467e-02   5.10544410e-02
    4.00738878e-02   1.00000000e+00   2.89394017e-02   1.77536046e-02
    6.04443532e-02   6.34717020e-02   2.92985787e-02   9.48227205e-02
    2.04217764e-02   6.39335009e-02   3.70465391e-02   3.12997075e-02
    2.03704654e-02   1.45723228e-02   2.46805891e-02   4.23828827e-02
    1.43157679e-02   1.07239982e-02   5.69038945e-02   2.15506183e-02
    2.71435169e-02   7.01421315e-02   1.05187542e-02   5.76735594e-02
    1.44697009e-02   3.56098312e-02   2.29873262e-02   1.94981785e-02
    1.28790600e-02   9.05125968e-02   2.89394017e-02   8.92811329e-03
    3.00169326e-02   2.38083021e-02   3.03247986e-02   1.48801888e-02
    4.70521833e-02   8.41500334e-03   3.55072092e-02   2.93498897e-02
    8.72286931e-03   6.72174047e-02   1.73431166e-02   2.28333932e-02
    7.59402740e-03   5.64420955e-03   5.73656935e-02   7.21432603e-02
    7.19893273e-02   3.69952281e-02   6.40361229e-02   5.30042588e-02
    8.05582636e-02   8.37395454e-02   6.11113962e-02   8.72286931e-03
    7.44009441e-03   6.00338653e-03   1.17502181e-02   7.85058238e-03
    2.00625994e-02   1.24685720e-02   1.51880548e-02   3.88424239e-02
    5.51080096e-02   7.94807327e-02   3.95094669e-02   2.22176612e-02
    7.08091744e-03   1.79075376e-02   1.41618349e-02   1.03648212e-02
    7.84032018e-02   1.56498538e-02   1.32382370e-02   1.43157679e-02
    2.43727231e-02   2.66304069e-02   3.27877264e-02   9.12309508e-02
    2.28847042e-02   3.11970855e-02   6.15731951e-03   7.00908205e-02
    1.19041511e-02   7.39391452e-02   2.25768382e-02   9.44122325e-03
    2.32438812e-02   8.51762533e-03   8.95376879e-02]
 [  1.03734440e-04   1.03008299e-01   5.93360996e-02   3.52697095e-02
    2.94605809e-02   6.89834025e-02   2.20954357e-02   1.12655602e-01
    1.12863071e-01   6.29668050e-02   1.49377593e-02   9.33609959e-04
    4.29460581e-02   1.24481328e-02   7.12655602e-02   1.35892116e-02
    2.76970954e-02   1.00622407e-02   3.40248963e-02   5.05186722e-02
    3.76556017e-02   4.95992136e-14   2.41701245e-02   1.93983402e-02
    5.18672199e-02   6.62863071e-02   3.14315353e-02   8.32987552e-02
    2.16804979e-02   6.46265560e-02   4.38796680e-02   3.94190871e-02
    2.14730290e-02   1.15145228e-02   2.43775934e-02   4.33609959e-02
    1.46265560e-02   1.13070539e-02   5.15560166e-02   2.58298755e-02
    3.46473029e-02   8.29875519e-02   9.75103734e-03   6.82572614e-02
    1.40041494e-02   2.81120332e-02   2.51037344e-02   2.05394191e-02
    1.47302905e-02   9.92738589e-02   4.26348548e-02   7.78008299e-03
    2.91493776e-02   2.85269710e-02   3.81742739e-02   1.75311203e-02
    4.47095436e-02   1.03734440e-02   4.05601660e-02   3.13278008e-02
    1.20331950e-02   7.18879668e-02   2.35477178e-02   2.42738589e-02
    9.85477178e-03   5.39419087e-03   6.43153527e-02   7.53112033e-02
    8.12240664e-02   3.73443983e-02   6.52489627e-02   6.40041494e-02
    7.55186722e-02   1.00000000e+00   6.17219917e-02   8.29875519e-03
    9.54356846e-03   6.63900415e-03   1.42116183e-02   9.85477178e-03
    2.31327801e-02   1.36929461e-02   1.47302905e-02   3.54771784e-02
    5.35269710e-02   8.15352697e-02   4.50207469e-02   2.43775934e-02
    7.88381743e-03   2.23029046e-02   1.35892116e-02   7.98755187e-03
    9.32572614e-02   1.72199170e-02   1.71161826e-02   1.61825726e-02
    2.90456432e-02   3.19502075e-02   3.65145228e-02   9.88589212e-02
    2.36514523e-02   3.40248963e-02   6.84647303e-03   8.53734440e-02
    1.24481328e-02  -1.91235916e-14   2.33402490e-02   1.40041494e-02
    3.09128631e-02   9.95850622e-03   9.47095436e-02]
 [  4.75016077e-18   8.63720074e-02   3.51749540e-02   3.05709024e-02
    2.03499079e-02   6.16942910e-02   2.13627993e-02   8.48987109e-02
    1.09300184e-01   5.36832413e-02   1.50092081e-02   2.55985267e-02
    3.89502762e-02   1.67587477e-02   7.94659300e-02   2.08103131e-02
    1.81399632e-02   3.25966851e-02   2.44014733e-02   7.01657459e-02
    3.77532228e-02   1.97053407e-02   5.08287293e-02   1.95211786e-02
    1.05801105e-01   5.89318600e-02   2.95580110e-02   5.35082873e-01
    1.16942910e-02   5.87476980e-02   4.00552486e-02   3.25046041e-02
    1.62983425e-02   3.41620626e-02   3.83977901e-02   4.70534070e-02
    1.54696133e-02   8.28729282e-03   1.53683241e-01   2.30202578e-02
    2.03499079e-02   6.37200737e-02   1.58379374e-02   6.24309392e-02
    1.23388582e-02   1.06813996e-01   4.12523020e-02   2.09944751e-02
    1.95211786e-02   1.12615101e-01   2.24677716e-02   1.39963168e-02
    2.19152855e-02   1.90607735e-02   2.31123389e-02   2.48618785e-02
    4.18047882e-02   8.28729282e-03   4.52117864e-02   2.66114180e-02
    6.90607735e-03   5.68139963e-02   1.82320442e-02   2.30202578e-02
    6.16942910e-03   4.88029466e-03   5.72744015e-02   7.67034991e-02
    4.87108656e-02   3.61878453e-02   4.73296501e-02   7.44935543e-02
    1.39871087e-01   9.48434622e-03   6.65745856e-02   1.62062615e-02
    5.80110497e-03   7.64272560e-03   1.22467772e-02   7.27440147e-03
    1.67587477e-02   2.07182320e-02   9.85267035e-03   2.75322284e-02
    5.08287293e-02   7.73480663e-02   4.13443831e-02   1.55616943e-02
    8.28729282e-03   1.60220994e-02   1.80478821e-02   9.48434622e-03
    7.83609576e-02   1.95211786e-02   1.44567219e-02   1.36279926e-02
    2.88213628e-02   2.08103131e-02   2.01657459e-02   5.76151013e-01
    2.55985267e-02   2.57826888e-02   6.07734807e-03   6.20626151e-02
    1.12338858e-02   1.07734807e-02   2.02578269e-02   1.02209945e-02
    1.80478821e-02   7.55064457e-03   9.18047882e-02]
 [  6.05143722e-05   8.77458396e-02   5.72465961e-02   3.67322239e-02
    1.85173979e-02   6.68683812e-02   1.86989410e-02   1.25022693e-01
    1.14493192e-01   6.52344932e-02   1.07110439e-02   1.00000000e+00
    3.91527988e-02   7.20121029e-03   6.19667171e-02   1.11951589e-02
    2.86838124e-02   5.38577912e-03   2.88048411e-02   4.67776097e-02
    4.19969743e-02  -9.29811783e-15   1.88804841e-02   1.92435703e-02
    4.92586989e-02   6.86838124e-02   3.15885023e-02   1.20786687e-01
    2.55975794e-02   6.74735250e-02   4.61119516e-02   3.27987897e-02
    2.21482602e-02   5.99092284e-03   1.95461422e-02   4.49016641e-02
    1.33131619e-02   1.26475038e-02   4.63540091e-02   2.30559758e-02
    2.44478064e-02   7.72163389e-02   6.35400908e-03   5.54916793e-02
    1.33131619e-02   9.07715582e-03   1.93645991e-02   1.72465961e-02
    1.06505295e-02   1.18003026e-01   4.53857791e-02   8.41149773e-03
    2.60816944e-02   2.11800303e-02   4.79878971e-02   1.72465961e-02
    4.72012103e-02   8.53252648e-03   3.90317700e-02   3.19515885e-02
    1.27080182e-02   7.06807867e-02   1.91225416e-02   2.46898638e-02
    9.50075643e-03   6.29349470e-03   5.65204236e-02   8.03025719e-02
    8.95007564e-02   3.11649017e-02   7.79425113e-02   5.98487141e-02
    4.50226929e-02   4.38124054e-02   6.09379728e-02   5.02269289e-03
    8.22995461e-03   6.41452345e-03   1.28290469e-02   8.53252648e-03
    1.68835098e-02   9.80332829e-03   1.54311649e-02   3.71558245e-02
    6.16036309e-02   8.83509834e-02   4.76248109e-02   2.11195159e-02
    7.92738275e-03   2.02118003e-02   1.32526475e-02   9.01664145e-03
    8.25416036e-02   1.45839637e-02   1.18608169e-02   1.74281392e-02
    3.22541604e-02   3.36459909e-02   3.45537065e-02   1.13524962e-01
    2.32980333e-02   3.50378215e-02   6.59606657e-03   6.62632375e-02
    1.11951589e-02   6.47503782e-02   2.86232980e-02   1.13161876e-02
    2.88048411e-02   9.74281392e-03   1.11467474e-01]
 [  1.35832654e-04   5.46047270e-02   5.67780494e-02   3.57239880e-02
    2.03748981e-02   7.36212986e-02   1.31757675e-02   1.22792719e-01
    7.47079598e-02   6.81879924e-02   1.22249389e-02   1.49415920e-03
    2.60798696e-02   1.16816083e-02   7.38929639e-02   1.14099430e-02
    2.67590329e-02   1.58924205e-02   2.81173594e-02   4.93072535e-02
    4.31947840e-02   8.14995925e-04   3.06981798e-02   1.94240695e-02
    7.72887802e-02   7.09046455e-02   2.92040206e-02   9.83428416e-02
    2.24123879e-02   6.68296659e-02   4.79489269e-02   3.17848411e-02
    2.30915512e-02   1.54849226e-02   2.10540614e-02   5.58272209e-02
    1.42624287e-02   1.19532736e-02   8.54387395e-02   2.70306982e-02
    1.98315675e-02   5.82722086e-02   8.42162456e-03   4.31947840e-02
    1.57565879e-02   4.19722901e-02   2.83890247e-02   1.53490899e-02
    1.20891062e-02   1.10431948e-01   4.11572942e-02   8.82912252e-03
    2.49932084e-02   1.99674002e-02   5.16164086e-02   1.96957349e-02
    4.30589514e-02   7.47079598e-03   3.66748166e-02   3.12415105e-02
    1.20891062e-02   7.56587884e-02   1.90165716e-02   2.74381961e-02
    8.96495518e-03   4.48247759e-03   3.91198044e-02   8.09562619e-02
    8.34012497e-02   3.08340125e-02   6.50638413e-02   5.05297474e-02
    7.33496333e-02   9.54903559e-02   5.81363760e-02   8.96495518e-03
    8.28579190e-03   6.92746536e-03   1.30399348e-02   5.97663678e-03
    1.42624287e-02   1.91524042e-02   1.54849226e-02   3.62673187e-02
    6.43846781e-02   8.28579190e-02   4.29231187e-02   2.05107308e-02
    5.84080413e-03   1.76582450e-02   1.41265960e-02   1.22249389e-02
    6.07171964e-02   1.48057593e-02   1.03232817e-02   1.69790818e-02
    7.22629720e-02   3.34148329e-02   3.11056778e-02   1.05813638e-01
    2.90681880e-02   3.34148329e-02   6.65580005e-03   6.51996740e-02
    1.41265960e-02   1.00000000e+00   2.70306982e-02   8.01412660e-03
    2.86606900e-02   1.14099430e-02   1.09209454e-01]]
Cluster_label:
 [0 5 2 ..., 5 0 4]
Sum of distances of samples to their closest cluster center:
 412575.793979

In [113]:
# import nltk
# from nltk.cluster.kmeans import KMeansClusterer
# from sklearn.metrics import jaccard_similarity_score
# NUM_CLUSTERS = 6
# kclusterer = KMeansClusterer(NUM_CLUSTERS, distance=jaccard_similarity_score, repeats=25)
# assigned_clusters = kclusterer.cluster(df, assign_clusters=True)
cluster1 = KM.cluster_centers_[0]
cluster2 = KM.cluster_centers_[1]
cluster3 = KM.cluster_centers_[2]
cluster4 = KM.cluster_centers_[3]
cluster5 = KM.cluster_centers_[4]
cluster6 = KM.cluster_centers_[5]

##Cluster 1
A = sorted(range(len(cluster1)), key=lambda i: cluster1[i])[-5:]
hero1 = searchHeroName(A[0])
hero2 = searchHeroName(A[1])
hero3 = searchHeroName(A[2])
hero4 = searchHeroName(A[3])
hero5 = searchHeroName(A[4])
print(hero1,hero2,hero3,hero4,hero5)

##Cluster 2
A = sorted(range(len(cluster2)), key=lambda i: cluster2[i])[-5:]
hero1 = searchHeroName(A[0])
hero2 = searchHeroName(A[1])
hero3 = searchHeroName(A[2])
hero4 = searchHeroName(A[3])
hero5 = searchHeroName(A[4])
print(hero1,hero2,hero3,hero4,hero5)

##Cluster 3
A = sorted(range(len(cluster3)), key=lambda i: cluster3[i])[-5:]
hero1 = searchHeroName(A[0])
hero2 = searchHeroName(A[1])
hero3 = searchHeroName(A[2])
hero4 = searchHeroName(A[3])
hero5 = searchHeroName(A[4])
print(hero1,hero2,hero3,hero4,hero5)

##Cluster 4
A = sorted(range(len(cluster4)), key=lambda i: cluster4[i])[-5:]
hero1 = searchHeroName(A[0])
hero2 = searchHeroName(A[1])
hero3 = searchHeroName(A[2])
hero4 = searchHeroName(A[3])
hero5 = searchHeroName(A[4])
print(hero1,hero2,hero3,hero4,hero5)

##Cluster 5
A = sorted(range(len(cluster5)), key=lambda i: cluster5[i])[-5:]
hero1 = searchHeroName(A[0])
hero2 = searchHeroName(A[1])
hero3 = searchHeroName(A[2])
hero4 = searchHeroName(A[3])
hero5 = searchHeroName(A[4])
print(hero1,hero2,hero3,hero4,hero5)

##Cluster 6
A = sorted(range(len(cluster6)), key=lambda i: cluster6[i])[-5:]
hero1 = searchHeroName(A[0])
hero2 = searchHeroName(A[1])
hero3 = searchHeroName(A[2])
hero4 = searchHeroName(A[3])
hero5 = searchHeroName(A[4])
print(hero1,hero2,hero3,hero4,hero5)

#Take the heros dataset and transform it into a similar one into hero types
#Column names as hero id and row names as type, however some may overlap

Pudge Juggernaut Earthshaker Gyrocopter Beastmaster
Shadow Shaman Shadow Fiend Juggernaut Earthshaker Windranger
Dragon Knight Anti-Mage Earthshaker Juggernaut Alchemist
Dragon Knight Gyrocopter Beastmaster Shadow Shaman Bristleback
Juggernaut Dragon Knight Shadow Shaman Earthshaker Shadow Fiend
Bristleback Phoenix Dragon Knight Earthshaker Techies

,0,1,2,3,4,5,6,7,8,9,...,102,103,104,105,106,107,109,110,111,112
0,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,True,False,False,False,False,False
1,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
2,False,False,False,False,False,False,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,True,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,True,False,False
4,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False

In [ ]:
# from sklearn.cluster import KMeans
# model = KMeans(n_clusters = 3)
# #2D array old data
# model.fit(points)
# # new data
# labels = model.predict(points)
# print(labels)
# resultMatrix = pd.DataFrame(columns = dataRows)
# for matchId in len(matchIdArr):
#     row = [0]*116
#     row[0] = matchIdArr[matchId]
#     for index in range(1,115):
# dataRows = [0]*116
# matchIdArr = []
# for row in matches.itertuples():
#     matchIdArr.append(row.match_id)
#     print(type(row))
# for i in range(len(dataRows)): 
#     dataRows[i] = i
# dataRows[0] = 'Match Id'
# colors = ['blue','red']
# fig = plt.figure(1, figsize=(5, 5))
# ax = Axes3D(fig, elev=-150, azim=110)
# ax.scatter(dataset.grade, 
#            dataset.attend_class, 
#            dataset.extra_hours, 
#            c=KM.labels_, 
#            cmap=matplotlib.colors.ListedColormap(colors),
#            s=75)
# plt.show()
# plt.scatter(dataset.grade, 
#             dataset.extra_hours, 
#             c=KM.labels_, 
#             cmap=matplotlib.colors.ListedColormap(colors), 
#             s=75)
# plt.show()