In [1]:
# import required libraries
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
import numpy as np
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import matplotlib


#import data
# matches = pd.read_csv('test_player.csv')
# champions = pd.read_csv('hero_names_category.csv')
# heroes = pd.read_csv('hero_names.csv')
matches = pd.read_csv('./dota-2-matches/test_player.csv')
champions = pd.read_csv('./dota-2-matches/hero_names_category.csv')

heroes = pd.read_csv('./dota-2-matches/hero_names.csv')

In [2]:
#remove account_id column
matches = matches.drop("account_id",axis=1)

In [3]:
#Returns a map of heroId to name
def mapId2Name():
    mapheroes = {}
    for row in heroes.itertuples():
        mapheroes[row.hero_id] = row.localized_name
    return mapheroes

#Returns a map of name to Id
def mapName2Id():
    mapId = {}
    for row in heroes.itertuples():
        mapheroes[row.localized_name] = row.hero_id
    return mapId


def searchHeroName(heroId):
    mapToReturn = mapId2Name()
    return mapToReturn[heroId]


def searchHeroId(heroName):
    mapToReturn = mapName2Id()
    return mapToReturn[heroName]

In [4]:
#understanding player slot
matches.head(n=5)

   match_id  hero_id  player_slot
0     50000       96            0
1     50000       84            1
2     50000       46            2
3     50000       85            3
4     50000       39            4

In [5]:
#collapse data into columns
#The interpretation of this table is that the row represent that particular match ID. The column names are the player
#slots. They are not the individual players but rather the slots that the players play in. 
#The value within each cell is the hero id. 
competitor_rows = pd.pivot_table(matches, values='hero_id', index=['match_id'], columns='player_slot')
competitor_rows.head(n=5)

player_slot  0    1    2    3    4    128  129  130  131  132
match_id
50000         96   84   46   85   39    9   75  106   74   62
50001         44   10   57    2  106   58   61   21   18   14
50002         74    7   42   99   88   69    8   25   26   79
50003         44   15  110   56   94    2  101   32    7   72
50004         98   26   73   51   46    2  106   50   65   21

In [6]:
#Current each row consists of two teams. Therefore, we split dataframe vertically to separate the two teams.
#The 2nd section of the dataframe now gets appended to the end of the 1 section.
#Each row in the resultant dataframe corresponds with only one team rather than two.
section = competitor_rows
sectionA,sectionB  = np.split(section, 2, axis=1)
sectionB.columns = sectionA.columns
sectionA.append(sectionB,ignore_index = True)
sectionA.head(n=5)

player_slot   0   1    2   3    4
match_id
50000        96  84   46  85   39
50001        44  10   57   2  106
50002        74   7   42  99   88
50003        44  15  110  56   94
50004        98  26   73  51   46

In [7]:
#The table above now gets transformed into a binary matrix. Each column name corresponds to the hero id. 
#Each row corresponds to a particular match id. However, it's worth mentioning that the match id values gets reset to 
#start at one but the current situation does not consider the match id for clustering so the result is not affected. 

#The interpretation of the binary matrix starts off with each row representing a match for one team
#Each column in the binary matrix corresponds to a hero Id
#The value of each cell represent whether that particular hero is chosen for that particular match 
#for that specific team.

#It's worth mentioning that the dataframe starts off at column index 0. However, hero Ids start off at 1 
#This means that every player's index is offset by one. This situation has been accounted for. 

dataset=[]
for row in sectionA.iterrows():
    index, data = row
    dataset.append(data.tolist())
#it transforms the input dataset (a Python list of lists) into a one-hot encoded NumPy boolean array
oht = TransactionEncoder()
oht_ary = oht.fit(dataset).transform(dataset)
df = pd.DataFrame(oht_ary, columns=oht.columns_)
df.head(n=5)

,0,1,2,3,4,5,6,7,8,9,...,102,103,104,105,106,107,109,110,111,112
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
2,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [8]:
#Converting the binary string matrix to a binary integer matrix
# 0: False
# 1: True
df = df*1
df.head()

,0,1,2,3,4,5,6,7,8,9,...,102,103,104,105,106,107,109,110,111,112
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
# create kmeans object and call fit
#Applies Kmeans algorithm
KM = KMeans(n_clusters=4, init='k-means++', random_state=170)
KM = KM.fit(df)
print("The cluster centroids are: \n", KM.cluster_centers_)
print("Cluster_label:\n", KM.labels_)
print("Cluster_inertia:\n", KM.inertia_)

The cluster centroids are:
 [[  2.10921516e-05   9.41342726e-02   6.49638270e-02   3.55613676e-02
    3.07945414e-02   8.30819852e-02   2.82212989e-02   1.23009428e-01
    1.18242602e-01   7.59317458e-02   1.79283289e-02  -3.11417558e-14
    4.49262829e-02   2.14929025e-02   1.06916117e-01   2.35177490e-02
    3.06047120e-02   3.57511970e-02   3.61097636e-02   7.61004830e-02
    4.54114024e-02   1.76220150e-13   5.73706524e-02   2.99719474e-02
    1.04638164e-01   7.35694248e-02   3.96321529e-02   1.08371475e-01
    2.63019131e-02   7.72183670e-02   4.89548839e-02   4.49684672e-02
    2.43192508e-02   3.61097636e-02   4.70987745e-02   6.67566598e-02
    2.07757693e-02   1.40051887e-02   1.49859737e-01   3.15960431e-02
    3.09210943e-02   7.61426673e-02   2.11976124e-02   7.53833499e-02
    1.83923562e-02   9.49990509e-02   5.05367953e-02   2.58167936e-02
    2.40661450e-02  -4.78922457e-14   4.38927675e-02   1.48488747e-02
    3.25240978e-02   2.62175445e-02   4.36185695e-02   2.63019131e-02
    5.33420514e-02   1.08413659e-02   4.35342009e-02   3.71643711e-02
    1.44270317e-02   7.42232815e-02   2.85165890e-02   2.83056675e-02
    1.04195229e-02   6.13781612e-03   6.37193900e-02   8.32507224e-02
    7.99392546e-02   4.30279893e-02   7.36959777e-02   7.50247833e-02
    1.39587859e-01  -8.69859740e-14   7.83362511e-02   2.02484655e-02
    1.07991816e-02   1.06304444e-02   1.52074413e-02   1.10733796e-02
    2.31169982e-02   2.17460083e-02   1.79283289e-02   4.17202759e-02
    6.38670351e-02   8.42420535e-02   4.93767269e-02   2.57535171e-02
    9.87112695e-03   2.22522199e-02   2.02062812e-02   1.07780895e-02
    9.16243066e-02   2.44458037e-02   1.92571344e-02   1.93625952e-02
    4.96509249e-02   3.71010947e-02   4.36818460e-02   1.21554070e-01
    3.13429373e-02   3.73120162e-02   8.56341355e-03   8.93674464e-02
    1.44692160e-02   1.26341988e-01   2.73354285e-02   1.33935163e-02
    3.07523570e-02   1.09468267e-02   1.02086014e-01]
 [  5.70320520e-05   9.14223794e-02   5.71461161e-02   3.07973081e-02
    2.28128208e-02   6.27922893e-02   2.75464811e-02   1.14007072e-01
    1.08360899e-01   5.99977187e-02   1.26611155e-02   4.02178291e-14
    3.92380518e-02   9.69544884e-03   7.48260522e-02   1.36306604e-02
    2.80027375e-02   1.71096156e-02   2.92574427e-02   5.32109045e-02
    4.14052698e-02   1.00000000e+00   3.06832440e-02   1.81361925e-02
    6.25071290e-02   6.35907380e-02   2.95996350e-02   1.06364777e-01
    2.11018592e-02   6.47884111e-02   3.85536672e-02   3.13676286e-02
    1.97330900e-02   1.56267823e-02   2.56644234e-02   4.39146801e-02
    1.46002053e-02   1.10642181e-02   6.12524239e-02   2.24135964e-02
    2.80027375e-02   7.15752253e-02   1.10071860e-02   5.89711418e-02
    1.48283335e-02   3.92950838e-02   2.49230067e-02   2.05885708e-02
    1.36876925e-02   8.55480780e-02   3.03980837e-02   9.46732063e-03
    2.92574427e-02   2.43526862e-02   3.06262119e-02   1.55697502e-02
    4.69944109e-02   8.55480780e-03   3.58731607e-02   3.01699555e-02
    8.78293601e-03   6.63853085e-02   1.76799361e-02   2.33261093e-02
    7.87042318e-03   5.81726931e-03   5.87430136e-02   7.30580586e-02
    7.33432189e-02   3.69567697e-02   6.47884111e-02   5.46937379e-02
    8.54910460e-02   8.37800844e-02   6.15946162e-02   9.23919243e-03
    7.81339113e-03   6.33055777e-03   1.18626668e-02   8.26964754e-03
    2.02463785e-02   1.30033079e-02   1.52845899e-02   3.86106992e-02
    5.61765712e-02   7.94456485e-02   4.03216608e-02   2.32120452e-02
    6.78681419e-03   1.75088400e-02   1.51134938e-02   1.08931219e-02
    7.87042318e-02   1.60830387e-02   1.39158207e-02   1.51705258e-02
    2.61206798e-02   2.77746093e-02   3.36489107e-02   1.03342078e-01
    2.39534618e-02   3.16527889e-02   6.33055777e-03   7.04345842e-02
    1.22048591e-02   7.81909433e-02   2.29839170e-02   9.23919243e-03
    2.39534618e-02   8.49777575e-03   9.07379948e-02]
 [  1.22978540e-04   9.75834717e-02   5.73694890e-02   2.81620857e-02
    2.50261329e-02   5.43565148e-02   2.12752875e-02   1.03424952e-01
    1.06191970e-01   5.60782144e-02   1.37735965e-02   4.73467380e-03
    4.24275964e-02   1.30357253e-02   7.15120212e-02   1.53723175e-02
    2.40423046e-02   1.71555064e-02   3.38805878e-02   5.56477895e-02
    3.40650556e-02   7.00977679e-03   2.98222960e-02   1.93076308e-02
    6.37028838e-02   5.47254504e-02   2.44112402e-02   1.06868351e-01
    2.24435836e-02   5.06056693e-02   3.66476050e-02   3.65246265e-02
    1.82623132e-02   1.74629527e-02   2.63174076e-02   4.31654676e-02
    1.21133862e-02   1.18674291e-02   8.22111542e-02   2.10293304e-02
    3.06216565e-02   7.63696735e-02   1.11295579e-02   6.58550083e-02
    1.31587038e-02   5.18354547e-02   3.24048454e-02   2.03529484e-02
    1.72784849e-02   4.23169157e-01   4.24890857e-02   7.74764804e-03
    2.61329398e-02   2.53335793e-02   3.89227080e-02   1.83852918e-02
    3.71395192e-02   8.79296563e-03   7.85832872e-02   3.11135707e-02
    1.22978540e-02   6.34569268e-02   2.27510299e-02   2.03529484e-02
    8.17807293e-03   4.30424891e-03   6.22271414e-02   5.99520384e-02
    7.75994589e-02   3.47414376e-02   6.29650126e-02   6.26575663e-02
    9.81368751e-02   6.52278177e-01   5.50328968e-02   1.11910472e-02
    9.03892271e-03   7.74764804e-03   1.10680686e-02   9.16190125e-03
    2.13982660e-02   1.78933776e-02   1.25438111e-02   2.99452745e-02
    5.24503474e-02   6.65928795e-02   3.67090943e-02   2.20746480e-02
    8.42403001e-03   1.63561459e-02   1.21748755e-02   7.68615877e-03
    8.42403001e-02   1.80163561e-02   1.61101888e-02   1.64176351e-02
    3.39420771e-02   3.20973990e-02   3.70780299e-02   1.08221115e-01
    2.12752875e-02   3.02527209e-02   6.21041628e-03   8.08583902e-02
    1.02072188e-02   8.90364631e-02   2.28740085e-02   1.28512575e-02
    2.84695321e-02   7.62466950e-03   7.82758409e-02]
 [  5.32141337e-05   8.58876117e-02   5.51830566e-02   3.54938272e-02
    1.76670924e-02   6.38037463e-02   1.87845892e-02   1.22552150e-01
    1.11696467e-01   6.31651767e-02   1.04831843e-02   1.00000000e+00
    3.75691784e-02   6.70498084e-03   6.04512559e-02   1.06960409e-02
    2.79906343e-02   5.00212857e-03   2.79374202e-02   4.49127288e-02
    4.03363133e-02   1.09674330e-01   1.80928054e-02   1.85717327e-02
    4.87973606e-02   6.77415922e-02   3.08109834e-02   1.29895700e-01
    2.41060026e-02   6.58790975e-02   4.36355896e-02   3.19816943e-02
    2.21902937e-02   5.74712644e-03   1.88910175e-02   4.31034483e-02
    1.29842486e-02   1.19199659e-02   4.34227331e-02   2.17645807e-02
    2.36802895e-02   7.50851426e-02   6.22605364e-03   5.39591315e-02
    1.29310345e-02   8.51426139e-03   1.78799489e-02   1.63367390e-02
    1.00042571e-02   1.10100043e-01   4.16134525e-02   8.03533418e-03
    2.68731375e-02   2.07002980e-02   4.53384419e-02   1.66560238e-02
    4.68816518e-02   8.35461899e-03   3.73563218e-02   3.03852703e-02
    1.19731801e-02   7.04555130e-02   1.81992337e-02   2.39463602e-02
    8.88676032e-03   6.01319711e-03   5.47041294e-02   7.87569178e-02
    8.50361856e-02   3.13431247e-02   7.43401447e-02   5.77373350e-02
    4.39548744e-02   3.85802469e-02   6.07173265e-02   4.84248616e-03
    7.66283525e-03   6.01319711e-03   1.25585355e-02   7.98212005e-03
    1.67624521e-02   9.57854406e-03   1.51128140e-02   3.72498936e-02
    5.90144742e-02   8.67922520e-02   4.56577267e-02   2.02213708e-02
    7.98212005e-03   2.01681567e-02   1.23456790e-02   8.62068966e-03
    8.07790549e-02   1.39953172e-02   1.12813963e-02   1.59642401e-02
    3.02788421e-02   3.13431247e-02   3.29395487e-02   1.22818221e-01
    2.19774372e-02   3.37909749e-02   6.27926777e-03   6.54533844e-02
    1.07492550e-02   6.28458919e-02   2.74584930e-02   1.12281822e-02
    2.74052788e-02   9.57854406e-03   1.08131120e-01]]
Cluster_label:
 [0 0 2 ..., 0 0 3]
Cluster_inertia:
 424893.569994

In [10]:
#Based off the results collected, each index corresponds with a HeroID. However, an array starts at 0 which offets
#every monster to the left. Additionally, the dataset not account for hero ID: 24 but there is still a value at index.
#This means that every monster with an original hero id greater than 23 is offset to the left by two. 
#Therefore, the below method brings back the monster to its rightful index
def correctCluster(cluster):
    resultArr = []
    for num in cluster:
        resultArr.append(num+2) if num>23 else resultArr.append(num+1)
    return resultArr

In [11]:
cluster1 = KM.cluster_centers_[0]
cluster2 = KM.cluster_centers_[1]
cluster3 = KM.cluster_centers_[2]
cluster4 = KM.cluster_centers_[3]
# cluster5 = KM.cluster_centers_[4]
# cluster6 = KM.cluster_centers_[5]
# cluster7 = KM.cluster_centers_[6]
# cluster8 = KM.cluster_centers_[7]
# cluster9 = KM.cluster_centers_[8]
# cluster10 = KM.cluster_centers_[9]

#This map's keys would be the cluster's name and each corresponding value would be a tuple of the top 5 hero names
clusterMapName = {}
#This map's keys would be the cluster's name and each corresponding value would be a tuple of the top 5 hero Ids
clusterMapId = {}

##Cluster 1

#The function below sorts the array index from lowest to highest based off the value of each elements
#This means that the first 5 index slots that has highest values will be returned
#For example: given array=[5,1,4,8,0], the result would be [4,1,2,0,3]
A = sorted(range(len(cluster1)), key=lambda i: cluster1[i])[-5:]
top5HerosId = correctCluster(A)
hero1 = searchHeroName(top5HerosId[0])
hero2 = searchHeroName(top5HerosId[1])
hero3 = searchHeroName(top5HerosId[2])
hero4 = searchHeroName(top5HerosId[3])
hero5 = searchHeroName(top5HerosId[4])
clusterMapId['Cluster1'] = (top5HerosId[0],top5HerosId[1],top5HerosId[2],top5HerosId[3],top5HerosId[4])
clusterMapName['Cluster1']=(hero1,hero2,hero3,hero4,hero5)

##Cluster 2
A = sorted(range(len(cluster2)), key=lambda i: cluster2[i])[-5:]
top5HerosId = correctCluster(A)
hero1 = searchHeroName(top5HerosId[0])
hero2 = searchHeroName(top5HerosId[1])
hero3 = searchHeroName(top5HerosId[2])
hero4 = searchHeroName(top5HerosId[3])
hero5 = searchHeroName(top5HerosId[4])
clusterMapId['Cluster2'] = (top5HerosId[0],top5HerosId[1],top5HerosId[2],top5HerosId[3],top5HerosId[4])
clusterMapName['Cluster2']=(hero1,hero2,hero3,hero4,hero5)

##Cluster 3
A = sorted(range(len(cluster3)), key=lambda i: cluster3[i])[-5:]
top5HerosId = correctCluster(A)
hero1 = searchHeroName(top5HerosId[0])
hero2 = searchHeroName(top5HerosId[1])
hero3 = searchHeroName(top5HerosId[2])
hero4 = searchHeroName(top5HerosId[3])
hero5 = searchHeroName(top5HerosId[4])
clusterMapId['Cluster3'] = (top5HerosId[0],top5HerosId[1],top5HerosId[2],top5HerosId[3],top5HerosId[4])
clusterMapName['Cluster3']=(hero1,hero2,hero3,hero4,hero5)

##Cluster 4
A = sorted(range(len(cluster4)), key=lambda i: cluster4[i])[-5:]
top5HerosId = correctCluster(A)
hero1 = searchHeroName(top5HerosId[0])
hero2 = searchHeroName(top5HerosId[1])
hero3 = searchHeroName(top5HerosId[2])
hero4 = searchHeroName(top5HerosId[3])
hero5 = searchHeroName(top5HerosId[4])
clusterMapId['Cluster4'] = (top5HerosId[0],top5HerosId[1],top5HerosId[2],top5HerosId[3],top5HerosId[4])
clusterMapName['Cluster4']=(hero1,hero2,hero3,hero4,hero5)

#Cluster 5
# A = sorted(range(len(cluster5)), key=lambda i: cluster5[i])[-5:]
# top5HerosId = correctCluster(A)
# hero1 = searchHeroName(top5HerosId[0])
# hero2 = searchHeroName(top5HerosId[1])
# hero3 = searchHeroName(top5HerosId[2])
# hero4 = searchHeroName(top5HerosId[3])
# hero5 = searchHeroName(top5HerosId[4])
# clusterMapId['Cluster5'] = (top5HerosId[0],top5HerosId[1],top5HerosId[2],top5HerosId[3],top5HerosId[4])
# clusterMapName['Cluster5']=(hero1,hero2,hero3,hero4,hero5)

# ##Cluster 6
# A = sorted(range(len(cluster6)), key=lambda i: cluster6[i])[-5:]
# top5HerosId = correctCluster(A)
# hero1 = searchHeroName(top5HerosId[0])
# hero2 = searchHeroName(top5HerosId[1])
# hero3 = searchHeroName(top5HerosId[2])
# hero4 = searchHeroName(top5HerosId[3])
# hero5 = searchHeroName(top5HerosId[4])
# clusterMapId['Cluster6'] = (top5HerosId[0],top5HerosId[1],top5HerosId[2],top5HerosId[3],top5HerosId[4])
# clusterMapName['Cluster6']=(hero1,hero2,hero3,hero4,hero5)

# ##Cluster 7
# A = sorted(range(len(cluster7)), key=lambda i: cluster7[i])[-5:]
# top5HerosId = correctCluster(A)
# hero1 = searchHeroName(top5HerosId[0])
# hero2 = searchHeroName(top5HerosId[1])
# hero3 = searchHeroName(top5HerosId[2])
# hero4 = searchHeroName(top5HerosId[3])
# hero5 = searchHeroName(top5HerosId[4])
# clusterMapId['Cluster7'] = (top5HerosId[0],top5HerosId[1],top5HerosId[2],top5HerosId[3],top5HerosId[4])
# clusterMapName['Cluster7']=(hero1,hero2,hero3,hero4,hero5)

# ##Cluster 8
# A = sorted(range(len(cluster8)), key=lambda i: cluster8[i])[-5:]
# top5HerosId = correctCluster(A)
# hero1 = searchHeroName(top5HerosId[0])
# hero2 = searchHeroName(top5HerosId[1])
# hero3 = searchHeroName(top5HerosId[2])
# hero4 = searchHeroName(top5HerosId[3])
# hero5 = searchHeroName(top5HerosId[4])
# clusterMapId['Cluster8'] = (top5HerosId[0],top5HerosId[1],top5HerosId[2],top5HerosId[3],top5HerosId[4])
# clusterMapName['Cluster8']=(hero1,hero2,hero3,hero4,hero5)

# ##Cluster 9
# A = sorted(range(len(cluster9)), key=lambda i: cluster9[i])[-5:]
# top5HerosId = correctCluster(A)
# hero1 = searchHeroName(top5HerosId[0])
# hero2 = searchHeroName(top5HerosId[1])
# hero3 = searchHeroName(top5HerosId[2])
# hero4 = searchHeroName(top5HerosId[3])
# hero5 = searchHeroName(top5HerosId[4])
# clusterMapId['Cluster9'] = (top5HerosId[0],top5HerosId[1],top5HerosId[2],top5HerosId[3],top5HerosId[4])
# clusterMapName['Cluster9']=(hero1,hero2,hero3,hero4,hero5)

# ##Cluster 10
# A = sorted(range(len(cluster10)), key=lambda i: cluster10[i])[-5:]
# top5HerosId = correctCluster(A)
# hero1 = searchHeroName(top5HerosId[0])
# hero2 = searchHeroName(top5HerosId[1])
# hero3 = searchHeroName(top5HerosId[2])
# hero4 = searchHeroName(top5HerosId[3])
# hero5 = searchHeroName(top5HerosId[4])
# clusterMapId['Cluster10'] = (top5HerosId[0],top5HerosId[1],top5HerosId[2],top5HerosId[3],top5HerosId[4])
# clusterMapName['Cluster10']=(hero1,hero2,hero3,hero4,hero5)

In [12]:
#Table of hero names for a given cluster
pd.DataFrame(clusterMapName)

        Cluster1       Cluster2       Cluster3        Cluster4
0  Skywrath Mage  Skywrath Mage         Mirana          Mirana
1     Juggernaut     Tidehunter     Tidehunter      Juggernaut
2   Earth Spirit         Mirana  Skywrath Mage   Skywrath Mage
3        Invoker     Juggernaut      Clockwerk      Tidehunter
4     Venomancer           Zeus       Silencer  Phantom Lancer

In [13]:
#Table of hero ids for a given cluster
resultIds = pd.DataFrame(clusterMapId)
resultIds

   Cluster1  Cluster2  Cluster3  Cluster4
0       101       101         9         9
1         8        29        29         8
2       107         9       101       101
3        74         8        51        29
4        40        22        75        12

In [14]:
#Given a hero id, we return the role that hero plays
def find_role(heroId):
    champ_row = champions.loc[champions["hero_id"] == heroId]
    role =  champ_row["role"]
    role = role.values
    return ''.join(role)

#In the table of hero Ids, we apply the above function into each cell
resultCategory = resultIds.applymap(lambda x: find_role(x))
#A table of what types of roles each cluster has
resultCategory

  Cluster1   Cluster2   Cluster3   Cluster4
0    nuker      nuker     escape     escape
1    carry  initiator  initiator      carry
2    nuker     escape      nuker      nuker
3    nuker      carry  initiator  initiator
4  support      nuker   disabler      carry