In [1]:
# import required libraries
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules
import numpy as np
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import matplotlib
from mpl_toolkits.mplot3d import Axes3D

#import data
matches = pd.read_csv('./dota-2-matches/test_player.csv')
champions = pd.read_csv('./dota-2-matches/hero_names_category.csv')
heroes = pd.read_csv('./dota-2-matches/hero_names.csv')

In [2]:
#remove account_id column
matches = matches.drop("account_id",axis=1)

In [3]:
#Returns a map of heroId to name
def mapId2Name():
    mapheroes = {}
    for row in heroes.itertuples():
        mapheroes[row.hero_id] = row.localized_name
    return mapheroes

#Returns a map of name to Id
def mapName2Id():
    mapId = {}
    for row in heroes.itertuples():
        mapheroes[row.localized_name] = row.hero_id
    return mapId


def searchHeroName(heroId):
    mapToReturn = mapId2Name()
    return mapToReturn[heroId]


def searchHeroId(heroName):
    mapToReturn = mapName2Id()
    return mapToReturn[heroName]

In [4]:
#understanding player slot
matches.head(n=10)

   match_id  hero_id  player_slot
0     50000       96            0
1     50000       84            1
2     50000       46            2
3     50000       85            3
4     50000       39            4
5     50000        9          128
6     50000       75          129
7     50000      106          130
8     50000       74          131
9     50000       62          132

In [5]:
#collapse data into columns
#The interpretation of this table is that the row represent that particular match ID. The column names are the player
#slots. They are not the individual players but rather the slots that the players play in. 
#The value within each cell is the hero id. 
competitor_rows = pd.pivot_table(matches, values='hero_id', index=['match_id'], columns='player_slot')
competitor_rows.head(n=10)

player_slot  0    1    2    3    4    128  129  130  131  132
match_id
50000         96   84   46   85   39    9   75  106   74   62
50001         44   10   57    2  106   58   61   21   18   14
50002         74    7   42   99   88   69    8   25   26   79
50003         44   15  110   56   94    2  101   32    7   72
50004         98   26   73   51   46    2  106   50   65   21
50005         16   39   36   71   46   27  106   33   21   93
50006        104   44   21   62   73   86   19   74   76   67
50007         68   23    2   76   39   65   73   21    9   30
50008        112   11   39  104  101   55   19   16   79   63
50009          8    5   42    3   92    9   31   12   74   21

In [6]:
#Current each row consists of two teams. Therefore, we split dataframe vertically to separate the two teams.
#The 2nd section of the dataframe now gets appended to the end of the 1 section.
#Each row in the resultant dataframe corresponds with only one team rather than two.
section = competitor_rows
sectionA,sectionB  = np.split(section, 2, axis=1)
sectionB.columns = sectionA.columns
sectionA.append(sectionB,ignore_index = True)

player_slot    0    1    2    3    4
0             96   84   46   85   39
1             44   10   57    2  106
2             74    7   42   99   88
3             44   15  110   56   94
4             98   26   73   51   46
5             16   39   36   71   46
6            104   44   21   62   73
7             68   23    2   76   39
8            112   11   39  104  101
9              8    5   42    3   92
10            68   16   67   34   99
11            26   28   11  112    8
12            34   32   31   99   70
13            83   30  106   10   11
14            28   72   43   62   25
15           104   98  100   59   99
16             6   14   46   20   72
17           101   28  100   25   44
18             8   30    7  104  106
19            37   87    7   47   44
20            53   21   59    5   37
21            94   75   50   59   14
22             2  102   10   31  106
23           102   23   67  107   35
24             3   41    2   73   30
25           104   35    5   93   14
26            28   72   91   70   19
27            26   86   41   51   23
28            30   51  104   59   76
29             8    2   74  107    9
...          ...  ...  ...  ...  ...
199970        47   90   12   73    5
199971        99   62   44   14   21
199972        42   25    7   27   98
199973        99   95   14   36   27
199974        70   25    6   73  100
199975        44   71   25   21   30
199976        50   11   86  102   18
199977        14   28   73   68   50
199978        69   46    8   55  112
199979        74   67   46   93    7
199980        48   21   41   14    7
199981        47   43   90   76   55
199982        73   19   21   27   14
199983        33   39   86   93   72
199984        11   37    8   30   23
199985        18   79   26   21   44
199986        90   39    8   86   18
199987        58  104   61   32   86
199988        86   42  112   44   39
199989         9   73   93   45   20
199990        69   12   21   86   17
199991        91   94   31   82   49
199992        59    3   11   21    9
199993        46   35   96  100   60
199994        21   86  112    8   69
199995        50    1   43   59  104
199996       106   40   32   18  100
199997         1   11   98   26    5
199998        39   97   93   11   22
199999        74    8   50   55   62

[200000 rows x 5 columns]

In [7]:
#The table above now gets transformed into a binary matrix. Each column name corresponds to the hero id. 
#Each row corresponds to a particular match id. However, it's worth mentioning that the match id values gets reset to 
#start at one but the current situation does not consider the match id for clustering so the result is not affected. 

#The interpretation of the binary matrix starts off with each row representing a match for one team
#Each column in the binary matrix corresponds to a hero Id
#The value of each cell represent whether that particular hero is chosen for that particular match 
#for that specific team.

#It's worth mentioning that the dataframe starts off at column index 0. However, hero Ids start off at 1 
#This means that every player's index is offset by one. This situation has been accounted for. 

dataset=[]
for row in sectionA.iterrows():
    index, data = row
    dataset.append(data.tolist())
#it transforms the input dataset (a Python list of lists) into a one-hot encoded NumPy boolean array
oht = TransactionEncoder()
oht_ary = oht.fit(dataset).transform(dataset)
df = pd.DataFrame(oht_ary, columns=oht.columns_)
df.head(n=10)

,0,1,2,3,4,5,6,7,8,9,...,102,103,104,105,106,107,109,110,111,112
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
2,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
7,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,True
9,False,False,False,True,False,True,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False

In [8]:
#Converting the binary string matrix to a binary integer matrix
# 0: False
# 1: True
df = df*1
df.head()

,0,1,2,3,4,5,6,7,8,9,...,102,103,104,105,106,107,109,110,111,112
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
# create kmeans object and call fit
#Applies Kmeans algorithm
KM = KMeans(n_clusters=5, init='k-means++', random_state=170)
KM = KM.fit(df)
print("The cluster centroids are: \n", KM.cluster_centers_)
print("Cluster_label:\n", KM.labels_)

The cluster centroids are:
 [[  2.15819575e-05   9.97949714e-02   6.51127657e-02   3.31067228e-02
    3.08837812e-02   7.77597928e-02   2.95672818e-02   1.18830258e-01
    1.22304953e-01   7.33139096e-02   1.80856804e-02  -1.18793864e-14
    4.76097982e-02   2.21215064e-02   1.07715550e-01   2.47329233e-02
    2.96104457e-02   3.79410813e-02   3.72288767e-02   7.89252185e-02
    4.35739722e-02   1.72473147e-13   5.91777274e-02   3.02794863e-02
    1.06183231e-01   6.91054279e-02   3.78763354e-02   1.11406065e-01
    2.66752994e-02   7.24506313e-02   4.62069710e-02   4.53868566e-02
    2.31574404e-02   3.81569008e-02   4.89694615e-02   6.54580770e-02
    2.02007122e-02   1.42225100e-02   1.57591454e-01   2.99557570e-02
    3.19197151e-02   7.77166289e-02   2.21862523e-02   7.89468005e-02
    1.79130247e-02   1.02773282e-01   5.33074350e-02   2.66968814e-02
    2.56609474e-02   1.06053739e-01   4.43725046e-02   1.49131326e-02
    3.22866084e-02   2.65458077e-02   4.21495630e-02   2.65026438e-02
    5.13218949e-02   1.07909787e-02   5.74943347e-02   3.73799504e-02
    1.45894033e-02   7.10046401e-02   2.91140606e-02   2.66105536e-02
    1.00356102e-02   5.95662027e-03   6.70983058e-02   7.74792274e-02
    7.85799072e-02   4.33365706e-02   7.33139096e-02   7.71770800e-02
    1.49714039e-01  -8.65418848e-14   7.73281537e-02   2.14740477e-02
    1.08988885e-02   1.10715442e-02   1.43088378e-02   1.15247653e-02
    2.40423006e-02   2.25531456e-02   1.72224021e-02   3.99913672e-02
    6.22207834e-02   7.89683824e-02   4.70055034e-02   2.57256933e-02
    1.04672494e-02   2.10424085e-02   1.98338189e-02   1.00571922e-02
    9.37088594e-02   2.53372181e-02   2.01359663e-02   1.94237617e-02
    4.54516025e-02   3.72288767e-02   4.50847092e-02   1.21031618e-01
    2.98910111e-02   3.62576886e-02   8.46012733e-03   9.14859178e-02
    1.35318873e-02  -8.01025912e-14   2.67832092e-02   1.39635265e-02
    3.04089781e-02   9.99244631e-03   9.44426459e-02]
 [  1.32065504e-04   5.41468568e-02   5.61278394e-02   3.55256207e-02
    1.99418912e-02   7.34284205e-02   1.30744849e-02   1.21104068e-01
    7.34284205e-02   6.70892763e-02   1.18858954e-02   1.82250396e-02
    2.54886424e-02   1.14896989e-02   7.31642895e-02   1.12255679e-02
    2.65451664e-02   1.54516640e-02   2.73375594e-02   4.80718436e-02
    4.26571580e-02   1.32065505e-04   2.99788695e-02   1.91494982e-02
    7.75224511e-02   7.17115689e-02   2.87902800e-02   1.07237190e-01
    2.17908082e-02   6.60327522e-02   4.76756471e-02   3.15636556e-02
    2.31114633e-02   1.54516640e-02   2.06022187e-02   5.48071844e-02
    1.39989435e-02   1.16217644e-02   8.82197570e-02   2.68092974e-02
    1.94136292e-02   5.73164289e-02   8.32012678e-03   4.23930269e-02
    1.54516640e-02   4.13365029e-02   2.78658214e-02   1.51875330e-02
    1.17538299e-02   1.09350238e-01   4.04120444e-02   8.58425779e-03
    2.45641838e-02   1.96777602e-02   5.04490227e-02   1.95456947e-02
    4.29212890e-02   7.65979926e-03   3.59218172e-02   3.07712625e-02
    1.18858954e-02   7.46170100e-02   1.90174326e-02   2.72054939e-02
    8.71632330e-03   4.49022715e-03   3.85631273e-02   8.04278922e-02
    8.18806128e-02   3.03750660e-02   6.43159007e-02   4.96566297e-02
    7.26360275e-02   9.79926043e-02   5.71843634e-02   8.71632330e-03
    8.05599577e-03   6.73534073e-03   1.30744849e-02   5.81088220e-03
    1.39989435e-02   1.87533016e-02   1.53195985e-02   3.56576862e-02
    6.35235077e-02   8.20126783e-02   4.33174855e-02   2.03380877e-02
    5.67881669e-03   1.76967776e-02   1.38668780e-02   1.21500264e-02
    5.91653460e-02   1.45272055e-02   1.00369783e-02   1.66402536e-02
    7.56735341e-02   3.27522451e-02   3.03750660e-02   1.15557316e-01
    2.87902800e-02   3.35446381e-02   6.47120972e-03   6.40517697e-02
    1.45272055e-02   1.00000000e+00   2.70734284e-02   7.92393027e-03
    2.82620180e-02   1.12255679e-02   1.09086107e-01]
 [  5.34959611e-05   8.65564650e-02   5.51543358e-02   3.54678222e-02
    1.77071631e-02   6.35532017e-02   1.88840743e-02   1.22666239e-01
    1.12662494e-01   6.31252340e-02   1.05387043e-02   1.00000000e+00
    3.78751404e-02   6.63349917e-03   6.01294602e-02   1.07526882e-02
    2.79248917e-02   5.02862034e-03   2.81388755e-02   4.51505911e-02
    4.03894506e-02   1.10362168e-01   1.82956187e-02   1.85096025e-02
    4.83068528e-02   6.75119029e-02   3.08136736e-02   1.30904617e-01
    2.42336704e-02   6.59605200e-02   4.33852244e-02   3.18835928e-02
    2.20403360e-02   5.67057187e-03   1.89375702e-02   4.31177446e-02
    1.29995185e-02   1.18761034e-02   4.20478254e-02   2.18263521e-02
    2.39661906e-02   7.57502809e-02   6.20553148e-03   5.40309207e-02
    1.30530145e-02   8.39886589e-03   1.79746429e-02   1.64232600e-02
    1.01107366e-02   1.14160381e-01   4.16198577e-02   8.02439416e-03
    2.69619644e-02   2.08099289e-02   4.54180709e-02   1.66372439e-02
    4.66484780e-02   8.29187396e-03   3.78216445e-02   3.04392018e-02
    1.20900872e-02   7.07216605e-02   1.82421227e-02   2.39661906e-02
    8.93382550e-03   5.99154764e-03   5.51543358e-02   7.86925587e-02
    8.54330498e-02   3.15626170e-02   7.45198737e-02   5.79896218e-02
    4.25827850e-02   3.87310758e-02   6.07179158e-02   4.92162842e-03
    7.70341839e-03   6.04504360e-03   1.24645589e-02   8.02439416e-03
    1.68512277e-02   9.62927299e-03   1.50858610e-02   3.73401808e-02
    5.90595410e-02   8.69844327e-02   4.56320548e-02   2.02214733e-02
    8.02439416e-03   2.00609854e-02   1.24645589e-02   8.66634569e-03
    8.14208527e-02   1.40694378e-02   1.13946397e-02   1.60487883e-02
    2.76574119e-02   3.14021291e-02   3.31139999e-02   1.23094206e-01
    2.19868400e-02   3.37559514e-02   6.31252340e-03   6.52115765e-02
    1.04317124e-02   5.59032793e-02   2.73364361e-02   1.13411437e-02
    2.74434280e-02   9.57577703e-03   1.08168833e-01]
 [  1.02511533e-04   1.02614044e-01   5.87391081e-02   3.51614557e-02
    2.93182983e-02   6.87852383e-02   2.19374680e-02   1.12045105e-01
    1.12045105e-01   6.28395695e-02   1.48641722e-02   3.89543824e-03
    4.26447975e-02   1.23013839e-02   7.12455151e-02   1.36340338e-02
    2.75756023e-02   1.01486417e-02   3.36237827e-02   5.02306509e-02
    3.77242440e-02   5.03208586e-14   2.38851871e-02   1.92721681e-02
    5.15633009e-02   6.57098924e-02   3.13685290e-02   9.11327524e-02
    2.15274218e-02   6.43772424e-02   4.33623783e-02   3.94669400e-02
    2.12198872e-02   1.14812916e-02   2.41927217e-02   4.33623783e-02
    1.44541261e-02   1.13787801e-02   5.12557663e-02   2.55253716e-02
    3.42388519e-02   8.29318298e-02   9.73859559e-03   6.81701691e-02
    1.41465915e-02   2.80881599e-02   2.48077909e-02   2.06048180e-02
    1.46591492e-02   9.87186058e-02   4.22347514e-02   7.68836494e-03
    2.89082522e-02   2.82931830e-02   3.79292670e-02   1.74269605e-02
    4.49000513e-02   1.03536648e-02   4.02870323e-02   3.11635059e-02
    1.18913378e-02   7.13480267e-02   2.35776525e-02   2.41927217e-02
    9.84110712e-03   5.33059969e-03   6.37621732e-02   7.49359303e-02
    8.06765761e-02   3.71091748e-02   6.46847770e-02   6.39671963e-02
    7.68836494e-02   1.00000000e+00   6.13018965e-02   8.20092260e-03
    9.43106099e-03   6.56073808e-03   1.44541261e-02   9.73859559e-03
    2.29625833e-02   1.36340338e-02   1.45566376e-02   3.51614557e-02
    5.31009739e-02   8.13941568e-02   4.46950282e-02   2.40902101e-02
    7.79087647e-03   2.21424910e-02   1.34290108e-02   7.89338801e-03
    9.29779600e-02   1.70169144e-02   1.69144029e-02   1.61968221e-02
    2.87032291e-02   3.17785751e-02   3.60840595e-02   1.06509482e-01
    2.35776525e-02   3.37262942e-02   6.76576115e-03   8.54946181e-02
    1.25064070e-02  -1.94566585e-14   2.31676064e-02   1.38390569e-02
    3.06509482e-02   9.84110712e-03   9.42080984e-02]
 [  5.66732785e-05   9.14706716e-02   5.70133182e-02   3.07169170e-02
    2.26693114e-02   6.26239728e-02   2.74298668e-02   1.13743270e-01
    1.08245962e-01   5.96769623e-02   1.26381411e-02   4.02733402e-14
    3.91612355e-02   9.69113063e-03   7.45820346e-02   1.36015869e-02
    2.80532729e-02   1.70019836e-02   2.91867385e-02   5.29895154e-02
    4.11448002e-02   1.00000000e+00   3.05468971e-02   1.81354491e-02
    6.21705866e-02   6.33607254e-02   2.94134316e-02   1.06092377e-01
    2.10257863e-02   6.46075375e-02   3.83678096e-02   3.13969963e-02
    1.96089544e-02   1.55851516e-02   2.55596486e-02   4.36384245e-02
    1.45083593e-02   1.10512893e-02   6.09804477e-02   2.23292717e-02
    2.78832530e-02   7.12949844e-02   1.09946160e-02   5.88835364e-02
    1.47350524e-02   3.91045622e-02   2.47662227e-02   2.05724001e-02
    1.36015869e-02   9.13573250e-02   3.03202040e-02   9.40776424e-03
    2.93000850e-02   2.41994899e-02   3.03768773e-02   1.55851516e-02
    4.67554548e-02   8.50099178e-03   3.61008784e-02   3.00368376e-02
    8.78435818e-03   6.60810428e-02   1.75687164e-02   2.31793709e-02
    7.82091244e-03   5.78067441e-03   5.87701899e-02   7.26551431e-02
    7.31652026e-02   3.69509776e-02   6.47775574e-02   5.44063474e-02
    8.53499575e-02   8.96004534e-02   6.12638141e-02   9.18107112e-03
    7.82091244e-03   6.40408048e-03   1.18447152e-02   8.27429867e-03
    2.01190139e-02   1.30348541e-02   1.51884387e-02   3.84244829e-02
    5.60498725e-02   7.93992632e-02   4.01246812e-02   2.31226976e-02
    6.80079343e-03   1.73986965e-02   1.50184188e-02   1.08812695e-02
    7.89458770e-02   1.60952111e-02   1.38282800e-02   1.51317654e-02
    2.58996883e-02   2.75998867e-02   3.36072542e-02   1.03145367e-01
    2.38594503e-02   3.15670162e-02   6.29073392e-03   7.02748654e-02
    1.21280816e-02   7.78124114e-02   2.28960045e-02   9.23774440e-03
    2.38594503e-02   8.44431850e-03   9.02805327e-02]]
Cluster_label:
 [0 1 3 ..., 1 0 2]

In [10]:
#Based off the results collected, each index corresponds with a HeroID. However, an array starts at 0 which offets
#every monster to the left. Additionally, the dataset not account for hero ID: 24 but there is still a value at index.
#This means that every monster with an original hero id greater than 23 is offset to the left by two. 
#Therefore, the below method brings back the monster to its rightful index
def correctCluster(cluster):
    resultArr = []
    for num in cluster:
        resultArr.append(num+2) if num>23 else resultArr.append(num+1)
    return resultArr

In [11]:
cluster1 = KM.cluster_centers_[0]
cluster2 = KM.cluster_centers_[1]
cluster3 = KM.cluster_centers_[2]
cluster4 = KM.cluster_centers_[3]
cluster5 = KM.cluster_centers_[4]

#This map's keys would be the cluster's name and each corresponding value would be a tuple of the top 5 hero names
clusterMapName = {}
#This map's keys would be the cluster's name and each corresponding value would be a tuple of the top 5 hero Ids
clusterMapId = {}

##Cluster 1

#The function below sorts the array index from lowest to highest based off the value of each elements
#This means that the first 5 index slots that has highest values will be returned
#For example: given array=[5,1,4,8,0], the result would be [4,1,2,0,3]
A = sorted(range(len(cluster1)), key=lambda i: cluster1[i])[-5:]
top5HerosId = correctCluster(A)
hero1 = searchHeroName(top5HerosId[0])
hero2 = searchHeroName(top5HerosId[1])
hero3 = searchHeroName(top5HerosId[2])
hero4 = searchHeroName(top5HerosId[3])
hero5 = searchHeroName(top5HerosId[4])
clusterMapId['Cluster1'] = (top5HerosId[0],top5HerosId[1],top5HerosId[2],top5HerosId[3],top5HerosId[4])
clusterMapName['Cluster1']=(hero1,hero2,hero3,hero4,hero5)

##Cluster 2
A = sorted(range(len(cluster2)), key=lambda i: cluster2[i])[-5:]
top5HerosId = correctCluster(A)
hero1 = searchHeroName(top5HerosId[0])
hero2 = searchHeroName(top5HerosId[1])
hero3 = searchHeroName(top5HerosId[2])
hero4 = searchHeroName(top5HerosId[3])
hero5 = searchHeroName(top5HerosId[4])
clusterMapId['Cluster2'] = (top5HerosId[0],top5HerosId[1],top5HerosId[2],top5HerosId[3],top5HerosId[4])
clusterMapName['Cluster2']=(hero1,hero2,hero3,hero4,hero5)

##Cluster 3
A = sorted(range(len(cluster3)), key=lambda i: cluster3[i])[-5:]
top5HerosId = correctCluster(A)
hero1 = searchHeroName(top5HerosId[0])
hero2 = searchHeroName(top5HerosId[1])
hero3 = searchHeroName(top5HerosId[2])
hero4 = searchHeroName(top5HerosId[3])
hero5 = searchHeroName(top5HerosId[4])
clusterMapId['Cluster3'] = (top5HerosId[0],top5HerosId[1],top5HerosId[2],top5HerosId[3],top5HerosId[4])
clusterMapName['Cluster3']=(hero1,hero2,hero3,hero4,hero5)

##Cluster 4
A = sorted(range(len(cluster4)), key=lambda i: cluster4[i])[-5:]
top5HerosId = correctCluster(A)
hero1 = searchHeroName(top5HerosId[0])
hero2 = searchHeroName(top5HerosId[1])
hero3 = searchHeroName(top5HerosId[2])
hero4 = searchHeroName(top5HerosId[3])
hero5 = searchHeroName(top5HerosId[4])
clusterMapId['Cluster4'] = (top5HerosId[0],top5HerosId[1],top5HerosId[2],top5HerosId[3],top5HerosId[4])
clusterMapName['Cluster4']=(hero1,hero2,hero3,hero4,hero5)

##Cluster 5
A = sorted(range(len(cluster5)), key=lambda i: cluster5[i])[-5:]
top5HerosId = correctCluster(A)
hero1 = searchHeroName(top5HerosId[0])
hero2 = searchHeroName(top5HerosId[1])
hero3 = searchHeroName(top5HerosId[2])
hero4 = searchHeroName(top5HerosId[3])
hero5 = searchHeroName(top5HerosId[4])
clusterMapId['Cluster5'] = (top5HerosId[0],top5HerosId[1],top5HerosId[2],top5HerosId[3],top5HerosId[4])
clusterMapName['Cluster5']=(hero1,hero2,hero3,hero4,hero5)

In [12]:
#Table of hero names for a given cluster
pd.DataFrame(clusterMapName)

        Cluster1       Cluster2        Cluster3       Cluster4       Cluster5
0     Juggernaut  Winter Wyvern       Clockwerk            Axe  Skywrath Mage
1  Skywrath Mage      Clockwerk      Juggernaut  Skywrath Mage     Tidehunter
2         Mirana  Skywrath Mage   Skywrath Mage     Juggernaut         Mirana
3        Invoker     Juggernaut      Tidehunter         Mirana     Juggernaut
4     Venomancer   Earth Spirit  Phantom Lancer       Silencer           Zeus

In [13]:
#Table of hero ids for a given cluster
resultIds = pd.DataFrame(clusterMapId)
resultIds

   Cluster1  Cluster2  Cluster3  Cluster4  Cluster5
0         8       112        51         2       101
1       101        51         8       101        29
2         9       101       101         8         9
3        74         8        29         9         8
4        40       107        12        75        22

In [14]:
#Given a hero id, we return the role that hero plays
def find_role(heroId):
    champ_row = champions.loc[champions["hero_id"] == heroId]
    role =  champ_row["role"]
    role = role.values
    return ''.join(role)

#In the table of hero Ids, we apply the above function into each cell
resultCategory = resultIds.applymap(lambda x: find_role(x))
#A table of what types of roles each cluster has
resultCategory

  Cluster1   Cluster2   Cluster3   Cluster4   Cluster5
0    carry    support  initiator  initiator      nuker
1    nuker  initiator      carry      nuker  initiator
2   escape      nuker      nuker      carry     escape
3    nuker      carry  initiator     escape      carry
4  support      nuker      carry   disabler      nuker