# Linear Regression
## Goal
The goal of this linear regression is to predict the duration of a DOTA 2 match given the breakdown of the competing teams.
The data we will be using for this is found at Kaggle.com, at this link https://www.kaggle.com/devinanzelmo/dota-2-matches#test_player.csv
The datasets to be used from this source are listed below
1. match.csv - Basic information regarding match duraton, winner, etc.
2. match_outcomes.csv - Links matches to players
3. player_ratings.csv - Lists the statistics for each player in the dataset
4. test_player.csv - Lists the player and hero participating in each match

From these we will use

In [2]:
import pandas as pd
from sklearn import linear_model

## Data Import

In [3]:
match = pd.read_csv('match.csv')
match_outcomes = pd.read_csv('match_outcomes.csv')
player_ratings = pd.read_csv('player_ratings.csv')
test_player = pd.read_csv('test_player.csv')

## Data Manipulation
To get these datasets into a usable format, we need to identify our variables, and what we need to do to find them.
### Class Variable
The calss variable for this regression will be match duration, found in the match dataset

In [4]:
match[0:5]

,match_id,start_time,duration,tower_status_radiant,tower_status_dire,barracks_status_dire,barracks_status_radiant,first_blood_time,game_mode,radiant_win,negative_votes,positive_votes,cluster
0,0,1446750112,2375,1982,4,3,63,1,22,True,0,1,155
1,1,1446753078,2582,0,1846,63,0,221,22,False,0,2,154
2,2,1446764586,2716,256,1972,63,48,190,22,False,0,0,132
3,3,1446765723,3085,4,1924,51,3,40,22,False,0,0,191
4,4,1446796385,1887,2047,0,0,63,58,22,True,0,0,156

Since we only care about the match_id to link rows of this table to others, and the duration for use as out class variable, we can trim this table

In [5]:
match = match[['match_id', 'duration']]

### Descriptive Variables
There are several variables that can be used to predict match length. A logical assumption to make is that a match will take longer for two evenly matched teams, so we can use the difference in the aggregate values for games won, games played, and trueskill for each player on the team to compare how well the two teams stack up against one another. These statistics can be calculated from the player_ratings dataset.

In [6]:
player_ratings[5:13]#some players only have one game played and therefore don't have excellent data

    account_id  total_wins  total_matches  trueskill_mu  trueskill_sigma
5       308663           1              1     26.761476         8.108880
6        79749          21             40     30.553417         3.868734
7        -1985           0              1     23.263409         8.098020
8        -2160           8             12     27.426018         6.391300
9        26500          26             50     27.943621         4.049005
10       -2776           0              1     23.053522         8.110911
11      137046          46             89     26.025998         2.865184
12       56881          15             23     32.856424         5.132469

An important note about this dataset is that players have the option to play anonymously. About a third of players choose to do so. These players have accout_id 0, and statistics are calculated for these accounts. Their trueskill is slightly below average, and sigma is above average for non-anonymous players.
#### Tranforming player_ratings
We need to join the ratings table to the match table to get the appropriate descriptive variables. To do this we must join the player ratings with the test_player dataframe to connect players to matches. From there we must summarise the resulting dataframe to get aggregate values for the match, and then we can compare the values of both teams when we connect it the match dataframe.

In [17]:
match_outcomes[1:10]

,match_id,account_id_0,account_id_1,account_id_2,account_id_3,account_id_4,start_time,parser_version,win,rad
1,1636204962,0,61598,138825,0,207232,1437014585,12,0,1
2,1636322679,0,-44943233,-240360907,19599,0,1437019968,12,0,0
3,1636322679,-97530201,0,0,0,-116349387,1437019968,12,1,1
4,1637385965,0,0,0,104738,0,1437052551,12,1,0
5,1637385965,0,0,278620,278619,0,1437052551,12,0,1
6,1637623870,-123447796,68408,-100048908,-16784805,320715,1437058007,12,1,0
7,1637623870,-108454938,-251819996,0,51172,-106710926,1437058007,12,0,1
8,1637739731,320093,0,178850,-45490226,-119392638,1437060903,12,0,0
9,1637739731,0,241925,-115963827,14072,-67386586,1437060903,12,1,1

In [31]:
values = ['account_id_' + str(i) for i in range(0,5)]
ids = ['match_id', 'win']
accounts = pd.melt(match_outcomes, id_vars = ids, value_vars = values, value_name = 'account_id')
#accounts.sort_values(by = ['match_id', 'win', 'variable'])#This was sorted to ensure the data behaved. It did.

In [33]:
match_ratings = accounts.join(player_ratings, on = 'account_id', how = 'left', lsuffix = 'l', rsuffix = 'r')
match_ratings

,match_id,win,variable,account_idl,account_idr,total_wins,total_matches,trueskill_mu,trueskill_sigma
0,1636204962,1,account_id_0,34549,-23137528.0,1.0,2.0,24.084556,7.817849
1,1636204962,0,account_id_0,0,236579.0,14.0,24.0,27.868035,5.212361
2,1636322679,0,account_id_0,0,236579.0,14.0,24.0,27.868035,5.212361
3,1636322679,1,account_id_0,-97530201,NaN,NaN,NaN,NaN,NaN
4,1637385965,1,account_id_0,0,236579.0,14.0,24.0,27.868035,5.212361
5,1637385965,0,account_id_0,0,236579.0,14.0,24.0,27.868035,5.212361
6,1637623870,1,account_id_0,-123447796,NaN,NaN,NaN,NaN,NaN
7,1637623870,0,account_id_0,-108454938,NaN,NaN,NaN,NaN,NaN
8,1637739731,0,account_id_0,320093,-107742417.0,2.0,2.0,31.300924,7.744427
9,1637739731,1,account_id_0,0,236579.0,14.0,24.0,27.868035,5.212361
10,1637843670,1,account_id_0,-142035,NaN,NaN,NaN,NaN,NaN
11,1637843670,0,account_id_0,179628,18192.0,1.0,1.0,27.724626,7.991390
12,1637995977,0,account_id_0,0,236579.0,14.0,24.0,27.868035,5.212361
13,1637995977,1,account_id_0,0,236579.0,14.0,24.0,27.868035,5.212361
14,1638064585,0,account_id_0,-167470448,NaN,NaN,NaN,NaN,NaN
15,1638064585,1,account_id_0,103832,-53671457.0,0.0,1.0,22.688226,8.072591
16,1638095252,1,account_id_0,0,236579.0,14.0,24.0,27.868035,5.212361
17,1638095252,0,account_id_0,0,236579.0,14.0,24.0,27.868035,5.212361
18,1638252636,0,account_id_0,0,236579.0,14.0,24.0,27.868035,5.212361
19,1638252636,1,account_id_0,-2025097,NaN,NaN,NaN,NaN,NaN
20,1638310272,0,account_id_0,-192964935,NaN,NaN,NaN,NaN,NaN
21,1638310272,1,account_id_0,-73473909,NaN,NaN,NaN,NaN,NaN
22,1638388472,0,account_id_0,0,236579.0,14.0,24.0,27.868035,5.212361
23,1638388472,1,account_id_0,0,236579.0,14.0,24.0,27.868035,5.212361
24,1638438812,0,account_id_0,0,236579.0,14.0,24.0,27.868035,5.212361
25,1638438812,1,account_id_0,31123,-20655236.0,3.0,5.0,30.101566,7.229043
26,1638537525,0,account_id_0,0,236579.0,14.0,24.0,27.868035,5.212361
27,1638537525,1,account_id_0,-33942182,NaN,NaN,NaN,NaN,NaN
28,1638542275,1,account_id_0,245558,29800.0,15.0,25.0,27.852108,5.063949
29,1638542275,0,account_id_0,0,236579.0,14.0,24.0,27.868035,5.212361
...,...,...,...,...,...,...,...,...,...
9142910,1930317916,1,account_id_4,2641,209737.0,25.0,45.0,27.828364,4.261585
9142911,1930317916,0,account_id_4,-246088005,NaN,NaN,NaN,NaN,NaN
9142912,1930317983,0,account_id_4,26730,-17447477.0,5.0,9.0,28.655754,6.384856
9142913,1930317983,1,account_id_4,156640,308831.0,1.0,6.0,17.727311,6.728324
9142914,1930318087,1,account_id_4,-211704191,NaN,NaN,NaN,NaN,NaN
9142915,1930318087,0,account_id_4,2772,-582924.0,1.0,1.0,26.980684,8.106960
9142916,1930319360,0,account_id_4,0,236579.0,14.0,24.0,27.868035,5.212361
9142917,1930319360,1,account_id_4,0,236579.0,14.0,24.0,27.868035,5.212361
9142918,1930319724,1,account_id_4,0,236579.0,14.0,24.0,27.868035,5.212361
9142919,1930319724,0,account_id_4,37095,117495.0,20.0,33.0,30.194232,4.389391
9142920,1930319978,0,account_id_4,0,236579.0,14.0,24.0,27.868035,5.212361
9142921,1930319978,1,account_id_4,0,236579.0,14.0,24.0,27.868035,5.212361
9142922,1930320540,0,account_id_4,2602,157566.0,0.0,5.0,14.111000,7.015975
9142923,1930320540,1,account_id_4,0,236579.0,14.0,24.0,27.868035,5.212361
9142924,1930320852,0,account_id_4,192461,-84605039.0,2.0,4.0,24.673352,7.522958
9142925,1930320852,1,account_id_4,19701,-11653238.0,0.0,2.0,21.661574,7.896230
9142926,1930321360,0,account_id_4,0,236579.0,14.0,24.0,27.868035,5.212361
9142927,1930321360,1,account_id_4,0,236579.0,14.0,24.0,27.868035,5.212361
9142928,1930322700,1,account_id_4,-113657327,NaN,NaN,NaN,NaN,NaN
9142929,1930322700,0,account_id_4,196943,-85823398.0,2.0,3.0,25.398082,7.497540
9142930,1930325467,0,account_id_4,106173,-54622297.0,2.0,3.0,27.844627,7.680987
9142931,1930325467,1,account_id_4,-172203373,NaN,NaN,NaN,NaN,NaN
9142932,1930325994,0,account_id_4,0,236579.0,14.0,24.0,27.868035,5.212361
9142933,1930325994,1,account_id_4,0,236579.0,14.0,24.0,27.868035,5.212361
9142934,1930327119,1,account_id_4,34834,-23304946.0,0.0,1.0,24.598068,8.223418
9142935,1930327119,0,account_id_4,0,236579.0,14.0,24.0,27.868035,5.212361
9142936,1930333522,1,account_id_4,147872,-70281146.0,1.0,2.0,26.130704,7.825420
9142937,1930333522,0,account_id_4,151139,-71535806.0,1.0,3.0,23.226425,7.652725
9142938,1930334829,0,account_id_4,0,236579.0,14.0,24.0,27.868035,5.212361
9142939,1930334829,1,account_id_4,0,236579.0,14.0,24.0,27.868035,5.212361

In [9]:
def findTeam(player_slot):#A function to determine if the team is radiant or not
#There are two possible teams, so if it's not radiant it is the other one
    if player_slot < 50:
        return True
    else:
        return False

In [10]:
match_ratings['radiant'] = match_ratings.apply(lambda row: findTeam(row.player_slot), axis = 1)
match_ratings

,match_id,account_idl,hero_id,player_slot,account_idr,total_wins,total_matches,trueskill_mu,trueskill_sigma,radiant
0,50000,117784,96,0,-58808162,3,5,30.032321,6.985622,True
1,50000,158361,84,1,-74184241,0,1,23.113746,8.109135,True
2,50000,158362,46,2,-74184365,0,4,16.547848,7.230257,True
3,50000,137970,85,3,-66786661,0,1,22.030027,8.020303,True
4,50000,1090,39,4,91317,25,39,33.719716,4.454236,True
5,50000,2391,9,128,50100,4,8,23.864505,6.794551,False
6,50000,2393,75,129,-445349,1,3,23.641084,7.623091,False
7,50000,2394,106,130,-445365,2,2,30.058583,7.704654,False
8,50000,36737,74,131,-24571240,1,1,27.560054,8.081343,False
9,50000,2392,62,132,-444994,1,4,21.150729,7.202481,False
10,50001,32932,44,0,-21995236,1,1,26.999523,8.091415,True
11,50001,0,10,1,236579,14,24,27.868035,5.212361,True
12,50001,0,57,2,236579,14,24,27.868035,5.212361,True
13,50001,158363,2,3,-74184755,2,3,26.373526,7.648394,True
14,50001,148934,106,4,-70708542,1,3,21.022234,7.493998,True
15,50001,158364,58,128,161535,4,9,25.527774,6.656036,False
16,50001,30423,61,129,-20156528,1,1,25.882618,8.175225,False
17,50001,0,21,130,236579,14,24,27.868035,5.212361,False
18,50001,158365,18,131,-74185824,1,3,23.822563,7.347469,False
19,50001,0,14,132,236579,14,24,27.868035,5.212361,False
20,50002,145809,74,0,314415,16,35,21.649892,4.054731,True
21,50002,158366,7,1,-74185870,1,3,24.695253,7.735626,True
22,50002,183,42,2,-19616,4,12,23.836566,6.205598,True
23,50002,37409,99,3,-24979850,1,2,25.182275,7.931367,True
24,50002,0,88,4,236579,14,24,27.868035,5.212361,True
25,50002,0,69,128,236579,14,24,27.868035,5.212361,False
26,50002,0,8,129,236579,14,24,27.868035,5.212361,False
27,50002,0,25,130,236579,14,24,27.868035,5.212361,False
28,50002,158367,26,131,185257,6,8,31.019175,6.852156,False
29,50002,0,79,132,236579,14,24,27.868035,5.212361,False
...,...,...,...,...,...,...,...,...,...,...
999970,149997,172212,42,0,-79100283,0,2,21.388694,7.840147,True
999971,149997,172211,30,1,-79100105,0,1,22.931101,8.065783,True
999972,149997,106999,106,2,57941,21,36,26.645828,4.167006,True
999973,149997,0,71,3,236579,14,24,27.868035,5.212361,True
999974,149997,329761,112,4,-109572666,1,1,26.587428,8.121048,True
999975,149997,0,1,128,236579,14,24,27.868035,5.212361,False
999976,149997,0,11,129,236579,14,24,27.868035,5.212361,False
999977,149997,0,98,130,236579,14,24,27.868035,5.212361,False
999978,149997,0,26,131,236579,14,24,27.868035,5.212361,False
999979,149997,0,5,132,236579,14,24,27.868035,5.212361,False
999980,149998,330514,104,0,-109737162,1,1,26.880745,8.118755,True
999981,149998,82145,30,1,239737,5,10,24.315540,6.247738,True
999982,149998,0,16,2,236579,14,24,27.868035,5.212361,True
999983,149998,32734,1,3,38466,24,44,25.940990,4.100366,True
999984,149998,31307,36,4,29157,91,176,27.540524,1.920821,True
999985,149998,0,39,128,236579,14,24,27.868035,5.212361,False
999986,149998,0,97,129,236579,14,24,27.868035,5.212361,False
999987,149998,0,93,130,236579,14,24,27.868035,5.212361,False
999988,149998,0,11,131,236579,14,24,27.868035,5.212361,False
999989,149998,0,22,132,236579,14,24,27.868035,5.212361,False
999990,149999,0,86,0,236579,14,24,27.868035,5.212361,True
999991,149999,0,11,1,236579,14,24,27.868035,5.212361,True
999992,149999,0,32,2,236579,14,24,27.868035,5.212361,True
999993,149999,293775,106,3,-103233093,0,1,23.564047,8.136949,True
999994,149999,241265,28,4,-93774355,3,3,30.623691,7.670914,True
999995,149999,142244,74,128,-68119356,1,1,26.503792,8.121898,False
999996,149999,186948,8,129,-83529006,2,6,21.798657,7.196193,False
999997,149999,128992,50,130,-63406427,28,53,25.545102,3.865240,False
999998,149999,133430,55,131,-65147019,1,1,26.980792,8.110309,False
999999,149999,30411,62,132,259029,0,1,22.637784,8.064595,False

In [11]:
regress = match_ratings.join(match, on = 'match_id', lsuffix = 'l', rsuffix = 'r')
regress

,match_idl,account_idl,hero_id,player_slot,account_idr,total_wins,total_matches,trueskill_mu,trueskill_sigma,radiant,match_idr,duration
0,50000,117784,96,0,-58808162,3,5,30.032321,6.985622,True,NaN,NaN
1,50000,158361,84,1,-74184241,0,1,23.113746,8.109135,True,NaN,NaN
2,50000,158362,46,2,-74184365,0,4,16.547848,7.230257,True,NaN,NaN
3,50000,137970,85,3,-66786661,0,1,22.030027,8.020303,True,NaN,NaN
4,50000,1090,39,4,91317,25,39,33.719716,4.454236,True,NaN,NaN
5,50000,2391,9,128,50100,4,8,23.864505,6.794551,False,NaN,NaN
6,50000,2393,75,129,-445349,1,3,23.641084,7.623091,False,NaN,NaN
7,50000,2394,106,130,-445365,2,2,30.058583,7.704654,False,NaN,NaN
8,50000,36737,74,131,-24571240,1,1,27.560054,8.081343,False,NaN,NaN
9,50000,2392,62,132,-444994,1,4,21.150729,7.202481,False,NaN,NaN
10,50001,32932,44,0,-21995236,1,1,26.999523,8.091415,True,NaN,NaN
11,50001,0,10,1,236579,14,24,27.868035,5.212361,True,NaN,NaN
12,50001,0,57,2,236579,14,24,27.868035,5.212361,True,NaN,NaN
13,50001,158363,2,3,-74184755,2,3,26.373526,7.648394,True,NaN,NaN
14,50001,148934,106,4,-70708542,1,3,21.022234,7.493998,True,NaN,NaN
15,50001,158364,58,128,161535,4,9,25.527774,6.656036,False,NaN,NaN
16,50001,30423,61,129,-20156528,1,1,25.882618,8.175225,False,NaN,NaN
17,50001,0,21,130,236579,14,24,27.868035,5.212361,False,NaN,NaN
18,50001,158365,18,131,-74185824,1,3,23.822563,7.347469,False,NaN,NaN
19,50001,0,14,132,236579,14,24,27.868035,5.212361,False,NaN,NaN
20,50002,145809,74,0,314415,16,35,21.649892,4.054731,True,NaN,NaN
21,50002,158366,7,1,-74185870,1,3,24.695253,7.735626,True,NaN,NaN
22,50002,183,42,2,-19616,4,12,23.836566,6.205598,True,NaN,NaN
23,50002,37409,99,3,-24979850,1,2,25.182275,7.931367,True,NaN,NaN
24,50002,0,88,4,236579,14,24,27.868035,5.212361,True,NaN,NaN
25,50002,0,69,128,236579,14,24,27.868035,5.212361,False,NaN,NaN
26,50002,0,8,129,236579,14,24,27.868035,5.212361,False,NaN,NaN
27,50002,0,25,130,236579,14,24,27.868035,5.212361,False,NaN,NaN
28,50002,158367,26,131,185257,6,8,31.019175,6.852156,False,NaN,NaN
29,50002,0,79,132,236579,14,24,27.868035,5.212361,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
999970,149997,172212,42,0,-79100283,0,2,21.388694,7.840147,True,NaN,NaN
999971,149997,172211,30,1,-79100105,0,1,22.931101,8.065783,True,NaN,NaN
999972,149997,106999,106,2,57941,21,36,26.645828,4.167006,True,NaN,NaN
999973,149997,0,71,3,236579,14,24,27.868035,5.212361,True,NaN,NaN
999974,149997,329761,112,4,-109572666,1,1,26.587428,8.121048,True,NaN,NaN
999975,149997,0,1,128,236579,14,24,27.868035,5.212361,False,NaN,NaN
999976,149997,0,11,129,236579,14,24,27.868035,5.212361,False,NaN,NaN
999977,149997,0,98,130,236579,14,24,27.868035,5.212361,False,NaN,NaN
999978,149997,0,26,131,236579,14,24,27.868035,5.212361,False,NaN,NaN
999979,149997,0,5,132,236579,14,24,27.868035,5.212361,False,NaN,NaN
999980,149998,330514,104,0,-109737162,1,1,26.880745,8.118755,True,NaN,NaN
999981,149998,82145,30,1,239737,5,10,24.315540,6.247738,True,NaN,NaN
999982,149998,0,16,2,236579,14,24,27.868035,5.212361,True,NaN,NaN
999983,149998,32734,1,3,38466,24,44,25.940990,4.100366,True,NaN,NaN
999984,149998,31307,36,4,29157,91,176,27.540524,1.920821,True,NaN,NaN
999985,149998,0,39,128,236579,14,24,27.868035,5.212361,False,NaN,NaN
999986,149998,0,97,129,236579,14,24,27.868035,5.212361,False,NaN,NaN
999987,149998,0,93,130,236579,14,24,27.868035,5.212361,False,NaN,NaN
999988,149998,0,11,131,236579,14,24,27.868035,5.212361,False,NaN,NaN
999989,149998,0,22,132,236579,14,24,27.868035,5.212361,False,NaN,NaN
999990,149999,0,86,0,236579,14,24,27.868035,5.212361,True,NaN,NaN
999991,149999,0,11,1,236579,14,24,27.868035,5.212361,True,NaN,NaN
999992,149999,0,32,2,236579,14,24,27.868035,5.212361,True,NaN,NaN
999993,149999,293775,106,3,-103233093,0,1,23.564047,8.136949,True,NaN,NaN
999994,149999,241265,28,4,-93774355,3,3,30.623691,7.670914,True,NaN,NaN
999995,149999,142244,74,128,-68119356,1,1,26.503792,8.121898,False,NaN,NaN
999996,149999,186948,8,129,-83529006,2,6,21.798657,7.196193,False,NaN,NaN
999997,149999,128992,50,130,-63406427,28,53,25.545102,3.865240,False,NaN,NaN
999998,149999,133430,55,131,-65147019,1,1,26.980792,8.110309,False,NaN,NaN
999999,149999,30411,62,132,259029,0,1,22.637784,8.064595,False,NaN,NaN

In [12]:
regress.groupby(by = ['match_id', 'radiant']).mean()[['total_wins', 'total_matches', 'trueskill_mu']][0:15]

KeyError: 'match_id'

## A New DIrection
The data being used above is not suitable for our purposes as the class variable, match duration, exists for match ids 1 - 50 000, but the players are only linked to matches 50 000 to 150 000. I will proceed by looking for a dataset linking players to matches with a known duration.

In [37]:
#bruv
match_outcomes['match_id'].max()

1930334829